.pokemon-list-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
  }
  
  mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  mat-form-field {
    width: 250px;
    margin-top: 3%;
  }
  
  mat-table {
    width: 100%;
    margin-top: 16px;
    overflow-x: auto;
    max-height: 500px;
    display: block;
  }
  
  mat-header-cell,
  mat-cell {
    padding: 0.5rem 1rem;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #3f51b5; /* Puedes cambiar el color según tus preferencias */
  }